:root {
  --page-bg-color: #f8f8ff;
  --nav-bg-color: #e7e7ce;
  --link-normal-color: #cd853f;
  --link-vis-color: #7c7ccf;
  --link-hover-color: #030303;
  --section-border-color: #b8860b;
  --text-color: #000000;

  --page-bg-image: url('../images/paper.gif');
}

html {
  height: 100%;
}

body.dark-theme {
  --text-color: #ffffff;
  --page-bg-image: url('');
  --page-bg-color: rgb(22, 25, 39);
  --nav-bg-color: rgb(22, 25, 39);
}

body {
  background-image: var(--page-bg-image);
  background-color: var(--page-bg-color);

  font-family: 'Cabin', sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  color: var(--text-color);
}
body::after {
  height: 2em;
  display: block;
  content: '';
}
article {
  width: 80vw;
}
nav {
  width: 80vw;
  text-align: center;
  font-size: 20pt;
  background-color: var(--nav-bg-color);
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99999;
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.title {
  text-align: center;
  font-size: 30px;
}
footer {
  width: 100%;
  position: absolute;
  height: 2em;
  bottom: 0;
  left: 0;
  right: 0;
}
/* link */
a:link {
  color: var(--link-normal-color);
}
a:visited {
  color: var(--link-vis-color);
}
a:hover {
  color: var(--link-hover-color);
}

.center {
  text-align: center;
}

/* theme button */
#theme-button {
  float: right;
  color: var(--text-color);
  background-color: transparent;
  border-color: rgb(22, 25, 39);
  font-size: 15pt;
}
#submit_btn {
  color: var(--text-color);
  background-color: transparent;
  /* border-color: transparent; */
  font-size: 15px;
}
/* home */
.wrapper {
  display: flex;
  align-items: center;
  margin-top: 5%;
}
.wrapper > div {
  flex: 1;
}
.footer__socials {
  text-align: center;
  font-size: 25pt;
}
.home__data {
  margin-left: 15%;
  margin-right: 3%;
  font-size: 20pt;
}
.github_status {
  margin-left: 15%;
  margin-right: 3%;
}
#date_time_display {
  font-size: 15pt;
  margin-left: 15%;
  margin-right: 3%;
}
#container {
  font-size: 15pt;
  margin-left: 15%;
  margin-right: 3%;
}
/* project */
.project {
  border: 2px dashed var(--section-border-color);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 20pt;
}
.project > h2 {
  text-align: center;
  font-size: 20pt;
}
/* education */
.education {
  border: 2px dashed var(--section-border-color);
  margin-left: 20px;
  font-size: 20pt;
}
.education > h2 {
  font-size: 25pt;
}
